<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1><a href="/">Let's GO</a></h1>

<p>{{#name}} {{{.}}} {{/name}}</p>
<p>Admin page</p>

<p><a href="/createplace">Add new place</a></p>
<p><a href="/createcategory">Add new category</a></p>
</body>
</html>