<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1>Let's GO</h1>
<h2>Add new place</h2>

<form method="post" class="addPlace" style="display: block" action="/addplace">
    <label for="placename">Place name: </label>
    <input type="text" name="name" id="placename">

    <label for="address">Address: </label>
    <input type="text" name="address" id="address">

    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <button type="submit">Add</button>
</form>

</body>
</html>