<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello World!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            letter-spacing: 1px;

        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        ul, li {
            list-style: none;
        }

        body, html {
            font-family: 'Prompt', sans-serif;
            color: rgb(47, 47, 48);
        }

        .container {
            width: 100%;
            background-color: #f6f6f6;
        }

        /** MENU **/
        .menu {
            left: 0;
            overflow: auto;
            position: fixed;
            width: 175px;
            height: 100%;
            background-color: rgb(47, 47, 48);
        }


        .menuMenu {
            width: 175px;
            margin: 5px auto;
        }

        .menuMenu li {
            width: 100%;
            height: 60px;
            text-align: center;
        }

        .menuMenu li a {
            width: 100%;
            line-height: 60px;
            color: #f6f6f6;
            font-size: 16px;
        }

        .menuMenu li a:hover {
            color: cornflowerblue;
        }

        #logoA {
            font-size: 28px;
            font-weight: bold;
            margin-top: 15px;
            display: block;
            color: cornflowerblue;
        }

        .content {
            position: absolute;
            left: 175px;
            width: calc(100% - 175px);
        }

        #eventDetails {
            width: 90%;
            margin: 0 auto;
        }

        #eventDetailsName {
            margin: 30px 0 40px;
            text-align: center;
        }

        #eventDet {
            text-align: center;
            margin-bottom: 20px;
        }

        #eventDetailsOther {
            color: #8d8d8d;
            font-size: 20px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        #eventDetailsOther p + p {
            margin-left: 32px;
        }

        #eventCat {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 15px;
        }

        #eventCategories {
            color: #8d8d8d;
            font-size: 20px;
            text-transform: lowercase;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        #eventCategories span + span {
            margin-left: 35px;
        }

        #addCtgr {
            color: cornflowerblue;
        }

        #eventDescr {
            margin: 30px 0 20px;
            text-align: center;
        }

        #eventDescription {
            width: 70%;
            font-size: 18px;
            margin: 0 auto;
            color: #8d8d8d;
            text-align: center;
        }

        #ticketIns {
            text-align: center;
            margin: 50px 0 20px;
        }

        #addticket {
            color: cornflowerblue;
            font-size: 20px;
        }

        #tickets {
            display: flex;
            flex-wrap: wrap;
            width: 80%;
            margin: 30px auto;
            justify-content: center;
        }

        #ticket {
            margin: 15px 15px;
            border-radius: 7px 7px 7px 7px;
            box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
            padding: 20px 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
        }

        #quantity {
            width: 50px;
            height: 25px;
        }

        #buyticket {
            background-color: cornflowerblue;
            padding: 5px;
            display: block;
            width: 80px;
            margin: 15px auto 0;
        }

        #addticket {
            margin-bottom: 100px;
            display: block;
            text-align: center;
        }

        .error {
            text-align: center;
            color: firebrick;
            font-size: 14px;
            line-height: 10px;
        }

        #authName {
            color: cornflowerblue;
        }

    </style>
</head>


<body>

<div class="container">
    <div class="menu">
        <ul class="menuMenu">

            <li id="logo"><a id="logoA" href="/">LET'S GO</a></li>
            <li id="places"><a href="/places">Places</a></li>
            <li id="categories"><a href="/categories">Categories</a></li>
            {{#login}} {{{.}}} {{/login}}
            {{#registration}} {{{.}}} {{/registration}}
            {{#name}} {{{.}}} {{/name}}
            {{#link}} {{{.}}} {{/link}}
            {{#link2}} {{{.}}} {{/link2}}
            {{#logout}} {{{.}}} {{/logout}}

        </ul>
    </div>

    <div class="content">


        {{#event}}
            <div id="eventDetails">
                <h2 id="eventDetailsName">{{name}}</h2>
                <h4 id="eventDet">Details</h4>
                <div id="eventDetailsOther">
                    <p>Place: {{place.name}}</p>
                    <p>Date: {{date}}</p>
                    <p>Organizer: {{organizer.login}}</p>
                </div>

                <h4 id="eventCat">Categories</h4>
                <div id="eventCategories">
                    {{#category}}<span>{{name}}
                    </span>
                    {{/category}}
                    {{#addCtgr}}{{{.}}}{{/addCtgr}}
                </div>


                <h4 id="eventDescr">Description</h4>
                <p id="eventDescription">{{description}}</p>
            </div>

        {{/event}}


        <h3 id="ticketIns">Tickets</h3>
        {{#errors}}
            {{{.}}}
        {{/errors}}
        <div id="tickets">
            {{#tickets}}

                <div id="ticket">
                    <form method="post" class="buyTicket" style="display: block" action="/buyticket/{{id}}">
                        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                        <p>Type: {{name}}</p>
                        <p>Price: {{price}}</p>
                        {{#userticket}}{{{.}}}{{/userticket}}
                    </form>
                </div>

            {{/tickets}}

        </div>
        {{#createticket}}{{{.}}}{{/createticket}}
    </div>

</div>
</div>
</body>
</html>