<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1><a href="/">Let's GO</a></h1>

<p>{{#name}} {{{.}}} {{/name}}</p>
<p>{{#role}} {{{.}}} {{/role}}</p>

<p>{{#logout}} {{{.}}} {{/logout}}</p>
<p>{{#login}} {{{.}}} {{/login}}</p>
<p>{{#registration}} {{{.}}} {{/registration}}</p>
<p>{{#link}} {{{.}}} {{/link}}</p>

<h2>Places</h2>


<div style="display: block; width: 100%; margin-top: 30px;" >
    {{#places}}
        <div style="border: 1px solid black;
     width: 200px; margin: 20px 0 0 20px; display: inline-block;">
            <p style="font-weight: 900">Name: {{name}}</p>
            <p>Address: {{address}}</p>
            <a href="/place/{{id}}/events">Events</a>
        </div>
    {{/places}}
</div>
</body>
</html>