<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello World!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <style>
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            letter-spacing: 1px;

        }
        a{
            text-decoration: none;
        }
        a:hover{
            text-decoration: none;
        }

        ul, li {
            list-style: none;
        }

        body, html{
            font-family: 'Prompt', sans-serif;
            color: rgb(47,47,48);
        }

        .container{
            width: 100%;
            background-color: #f6f6f6;
        }

        /** MENU **/

        .menu{
            left: 0;
            overflow: auto;
            position: fixed;
            width: 175px;
            height: 100%;
            background-color: rgb(47, 47, 48);
        }


        .menuMenu{
            width: 175px;
            margin: 5px auto;
        }

        .menuMenu li{
            width: 100%;
            height: 60px;
            text-align: center;
        }
        .menuMenu li a{
            width: 100%;
            line-height: 60px;
            color: #f6f6f6;
            font-size: 16px;
        }

        #logoA{
            font-size: 25px;
            font-weight: bold;
            color: cornflowerblue;
        }

        .menuMenu li a:hover{
            color: cornflowerblue;
        }

        .content{
            position: absolute;
            left: 175px;
            width: calc(100% - 175px);
        }

        #placesIns {
            text-align: center;
            margin-top: 45px;
        }

        #places {
            display: flex;
            flex-wrap: wrap;
            width: 80%;
            margin: 30px auto;
            justify-content: center;
        }

        #place {
            margin: 15px 15px;
            border-radius: 7px 7px 7px 7px;
            box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
            padding: 20px 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        #placeName {
            font-size: 26px;
            width: 100%;
        }

        #placeDetails {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: 10px 0 0;
        }

        #placeDetails p {
            font-size: 14px;
            text-transform: uppercase;
            color: #8d8d8d;
        }

        #placeEvents {
            color: cornflowerblue;
            font-size: 18px;
        }
    </style>
</head>
<body >
<div class="container">
    <div class="menu">
        <ul class="menuMenu">

            <li id="logo"><a id="logoA" href="/">LET'S GO</a></li>
            <li id="placesMenu"><a href="/places">Places</a></li>
            <li id="categories"><a href="#">Categories</a></li>
            {{#login}} {{{.}}} {{/login}}
            {{#registration}} {{{.}}} {{/registration}}
            {{#name}} {{{.}}} {{/name}}
            {{#link}} {{{.}}} {{/link}}
            {{#logout}} {{{.}}} {{/logout}}

        </ul>
    </div>

    <div class="content">

        <h2 id="placesIns">Places</h2>

        <div id="places">
            {{#places}}
                <div id="place">

                    <h2 id="placeName">{{name}}</h2>

                    <div id="placeDetails">
                        <p> Address: {{address}}</p>
                    </div>
                    <a href="/place/{{id}}/events" id="placeEvents">Events</a>
                </div>
            {{/places}}
        </div>
        </div>

    </div>
</div>
</body>
</html>