<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example </title>

    <style type="text/css">
        .container{
            margin-right: auto;
            margin-left: auto;
            padding-right: 15px;
            padding-left: 15px;
            width: 100%;
            box-sizing: inherit;
            display: block;
            text-align: center;
        }
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            display: block;
        }

        *, ::after, ::before {
            box-sizing: inherit;
        }
        h2 {
            margin-bottom: 10px;
            font-size: 2rem;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.1;
            color: inherit;
            margin-top: 0;
            box-sizing: inherit;
            display: block;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
        .form-signin{
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
            box-sizing: inherit;
            display: block;
        }
        input{
            padding: .5rem .75rem;
            font-size: 1rem;
            line-height: 1.25;
            color: #495057;
            background-color: #fff;
            background-image: none;
            background-clip: padding-box;/*tut*/
            border: 1px solid rgba(0,0,0,.15);
            border-radius: .25rem;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
            margin-bottom: 10px;
        }
        form .temp {
            width: 100%;
        }
        .btn{
            display: block;
            width: 100%;
            padding: .5rem 1rem;
            font-size: 1.25rem;
            line-height: 1.5;
            border-radius: .3rem;
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            user-select: none;
            border: 1px solid transparent;
            text-transform:none;
            overflow: visible;
            margin: 0;
            font-family: inherit;
        }

    </style>
</head>
<body>
<div class="container">
    <h2>Add new user</h2>
    {{#message}}
        {{message}}
    {{/message}}
    <form action="/registration" method="post" class="form-signin">
        <div><input class="temp" type="text" name="username" placeholder="Username" required/></div>
        <div><input class="temp" type="text" name="email" placeholder="Email" required/></div>
        <div><input class="temp" type="password" name="password" placeholder="Password" required/></div>
        <p><input name="role" type="radio" value="ROLE_ORGANIZER" required> Organizer</p>
        <p><input name="role" type="radio" value="ROLE_USER"> User</p>

        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <div><input  class="btn" type="submit" value="Sign In"/></div>
    </form>
</div>
</body>
</html>