<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            letter-spacing: 1px;

        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        ul, li {
            list-style: none;
        }

        body, html {
            font-family: 'Prompt', sans-serif;
            color: rgb(47, 47, 48);
        }

        .container {
            width: 100%;
            background-color: #f6f6f6;
        }

        /** MENU **/
        .menu {
            left: 0;
            overflow: auto;
            position: fixed;
            width: 175px;
            height: 100%;
            background-color: rgb(47, 47, 48);
        }


        .menuMenu {
            width: 175px;
            margin: 5px auto;
        }

        .menuMenu li {
            width: 100%;
            height: 60px;
            text-align: center;
        }

        .menuMenu li a {
            width: 100%;
            line-height: 60px;
            color: #f6f6f6;
            font-size: 16px;
        }

        .menuMenu li a:hover {
            color: cornflowerblue;
        }

        #logoA {
            font-size: 25px;
            font-weight: bold;
            color: cornflowerblue;
        }

        .content {
            position: absolute;
            left: 175px;
            width: calc(100% - 175px);
        }

        #regIns {
            text-align: center;
            margin: 40px 0 40px;
        }

        #regForm {
            display: block;
        }

        #inputs label, #inputs input {
            display: block;
            margin: 0 auto;
        }

        #regForm label {
            margin-top: 20px;
            text-align: center;
        }

        #radiosReg{
            width: 500px;
            margin: 0 auto;
        }

        #radiosReg label{
            display: block;
        }

        #signin {
            background-color: cornflowerblue;
            padding: 5px;
            display: block;
            width: 140px;
            height: 45px;
            margin: 25px auto 0;
        }

        .error{
            text-align: center;
            color: firebrick;
            font-size: 14px;
            line-height: 10px;
        }


        #authName{
            color: cornflowerblue;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="menu">
        <ul class="menuMenu">

            <li id="logo"><a id="logoA" href="/">LET'S GO</a></li>
            <li id="places"><a href="/places">Places</a></li>
            <li id="categories"><a href="/categories">Categories</a></li>
            {{#login}} {{{.}}} {{/login}}
            {{#registration}} {{{.}}} {{/registration}}
            {{#name}} {{{.}}} {{/name}}
            {{#link}} {{{.}}} {{/link}}
            {{#logout}} {{{.}}} {{/logout}}

        </ul>
    </div>

    <div class="content">
        <h2 id="regIns">New user registration</h2>

        <form action="/registration" method="post" id="regForm">
        {{#errors}}
            {{{.}}}
        {{/errors}}
        <div id="inputs">
            <label> Username<input type="text" name="username"/> </label>
            <label> Email <input type="text" name="email"/> </label>
            <label> Password <input type="password" name="password"/> </label>
        </div>
        <div id="radiosReg">
            <label><input name="role" type="radio" value="ROLE_USER" checked> User</label>
            <label><input name="role" type="radio" value="ROLE_ORGANIZER"> Organizer</label>
        </div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign in" id="signin"/>
        </form>
    </div>
</div>
</body>
</html>