<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello World!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            letter-spacing: 1px;

        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        ul, li {
            list-style: none;
        }

        body, html {
            font-family: 'Prompt', sans-serif;
            color: rgb(47, 47, 48);
        }

        .container {
            width: 100%;
            background-color: #f6f6f6;
        }

        /** MENU **/
        .menu {
            left: 0;
            overflow: auto;
            position: fixed;
            width: 175px;
            height: 100%;
            background-color: rgb(47, 47, 48);
        }


        .menuMenu {
            width: 175px;
            margin: 5px auto;
        }

        .menuMenu li {
            width: 100%;
            height: 60px;
            text-align: center;
        }

        .menuMenu li a {
            width: 100%;
            line-height: 60px;
            color: #f6f6f6;
            font-size: 16px;
        }

        .menuMenu li a:hover {
            color: cornflowerblue;
        }

        .content {
            position: absolute;
            left: 175px;
            width: calc(100% - 175px);
        }

        .error{
            text-align: center;
            color: firebrick;
            font-size: 14px;
            line-height: 10px;
        }

        #addCategoryEvIns {
            text-align: center;
            margin: 30px 0 40px;
        }

        #addCategoryEvForm {
            display: block;
        }

        #addCategoryEvForm label, #addCategoryEvForm input {
            display: block;
            margin: 0 auto;
        }

        #addCategoryEvForm label {
            margin-top: 20px;
            text-align: center;
        }

        #addCategoryEvButton {
            background-color: cornflowerblue;
            padding: 5px;
            display: block;
            width: 140px;
            height: 45px;
            margin: 25px auto 0;
        }

        #logoA{
            font-size: 28px;
            font-weight: bold;
            margin-top: 15px;
            display: block;
            color: cornflowerblue;
        }

        #authName{
            color: cornflowerblue;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="menu">
        <ul class="menuMenu">

            <li><a id="logoA" href="/">LET'S GO</a></li>
            <li id="places"><a href="/places">Places</a></li>
            <li id="categories"><a href="/categories">Categories</a></li>
            {{#name}} {{{.}}} {{/name}}
            {{#link}} {{{.}}} {{/link}}
            {{#link2}} {{{.}}} {{/link2}}
            {{#logout}} {{{.}}} {{/logout}}

        </ul>
    </div>

    <div class="content">
        <h2 id="addCategoryEvIns">Add category for event</h2>

        <form method="post" class="addCategoryEv" id="addCategoryEvForm" style="display: block" action="/addcategoryev/{{#id}}{{.}}{{/id}}">
            {{#errors}}
                {{{.}}}
            {{/errors}}

            <label for="categoryName">Category</label>
            <input type="text" name="name" id="categoryName">

            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit" id="addCategoryEvButton">Add</button>
        </form>
    </div>
</div>
</body>
</html>